/* ---BASE--- */

*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(#3d7277, #e3eff0);
    font-family: 'Raleway', sans-serif;
    font-size: 20px; 
    color: #fff;
    line-height: 30px;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500;
  }

a{
    text-decoration: none;
}

.btn{
    background: #d08f37;
    color: #fff;
    padding: 10px 40px;
    transition: all 0.2s;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 30px;
    border-radius: 8px;
    border: 2px solid #d08f37;
  }
  
.btn:hover{
    transform: scale(1.1)
  }

/* ---HEADER--- */

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;     
    color: #fff;
    align-items: center;
    box-shadow: 0 0 10px #dae8e9;
}

/* ---MAIN--- */

.wrapper-mainPage{
    margin: 100px 70px;
    display: flex;
}

.wrapper-toDo-Done{
    margin: 100px 70px;
    flex-direction: column;
}

.container{
    margin: 0 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    border-radius: 16px;
    background-color: rgba(218, 232, 233, 0.4);
}

.container h3{
    margin: 20px 0;
}

/* ---LISTE--- */

.banner-list-todo{
    width: 100%;
    height: 300px;
    background-image: url(../img/banner-list-todo.png);
    background-size: cover;
    background-position-y: -50px;
    background-repeat: no-repeat;
}

.banner-list-done{
    width: 100%;
    height: 300px;
    background-image: url(../img/banner-list-done.png);
    background-size: cover;
    background-position-y: -50px;
    background-repeat: no-repeat;
}

.banner-list h3{
    text-shadow: 2px 2px #0c5159;
    font-size: 40px;
    padding: 50px;
}

.btn-banner{
    padding: 10px;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #d08f37;
    background: linear-gradient(to left, rgba(0,0,0,0) 78%, #d08f37 20%);
    font-size: 18px;
}

.btn-banner:hover{
    background-color: #d08f37;
    transform: scale(1.1)
  }

.banner-list a{
    display: inline-flex;
    color: #fff;
    margin-left: 50px;
    margin-top: 20px;
}

.banner-list img{
margin-right: 12px;
}

.wrapper-list{
    margin: 100px 50px 50px;
}

.wrapper-list ul{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 450px);
    column-gap: 30px;
    row-gap: 20px;  
    justify-content: center;  
}

.wrapper-list ul li{
    position: relative;
    list-style: none;
    background-color: #006473;
    border-radius: 10px;
    padding: 10px 60px 10px 10px;
    transition: all 0.2s;
}

.wrapper-list ul li:hover{
    background: linear-gradient(to right, rgba(0,0,0,0) 90%, #d08f37 20%);
}

.wrapper-list ul li:first-letter {
    text-transform: uppercase;
}

.delete{
    background: none;
    border: none;
    position: absolute;
    transition: all 0.2s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.delete img{
    float: right;
    transform: translateX(-5px);
}

.delete:hover{
    background: none;
    border: none;
    opacity: 1;
}

/* ---FOOTER--- */

footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    bottom: 0;
    color: #3f7378;
    margin-top: 200px;
}

footer img{
    margin-right: 15px;
}